Flask
pandas
numpy
matplotlib
seaborn
scikit-learn
nltk
spacy
wordcloud
textblob
fpdf
Pillow
gunicorn
openpyxl
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
